/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
  font-family: inherit;
  border-radius: 12px;
  resize: none;
  margin-top: 8px;
  padding: 8px 12px;
  border: 2px solid #dddddd;
}

textarea:focus {
  outline: none;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.zg-container {
  padding: 12px;
  border-radius: 0 0 16px 16px;
  z-index: 99;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 #00000025;
}

.uni-container {
  padding: 12px;
}

#zg-label {
  color: #333;
}

#uni-label {
  color: #333;
}

label {
  font-size: 16px;
  font-weight: 600;
}